
.resguardo-equipo{
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 100px;
}

.logo-flotante{
  width: 90%;
  display: grid;
  grid-template-columns: 20% 80%;

  align-items: center;
  margin: 15px auto;
}
img{margin: 0 0 0 auto}
p{margin:0;}
tr{
  text-align: justify;
}
.tabla-resguardo{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.footer-tabla{
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}
.item-tabla{
  border: 1px solid black;
  border-right: none;
}
.item-tabla > p{
  text-align: left;
  margin-left: 10px;
}
.item-tabla:last-of-type{
  border-right: 1px solid black;
}


